<!-- <h1>
    <b>TARGETED STAKEHOLDERS:</b>
</h1>
<ul>
    <li>
        Government i.e. ministry of blue economy, ministry of fisheries, and Zanzibar Fisheries and Research Institute
        (ZAFIRI) and Zanzibar Investment Promotion Authority (ZIPA).
    </li>
    <li>
        Non-government institutions such as Mwambao Coastal Community Network (MCCC).
    </li>
    <li>
        Local community.
    </li>
</ul>
 -->

<div class="container">
    <div class="card mt-4" style="background-color: #FFF;">
        <div class="card-header bg-success">
            <h1 class="text-center mt-2"><b>TARGETED STAKEHOLDERS</b></h1>
        </div>
        <div class="card-body">
            <ul>
                <li>
                    Government i.e. ministry of blue economy, ministry of fisheries, and Zanzibar Fisheries and Research Institute
                    (ZAFIRI) and Zanzibar Investment Promotion Authority (ZIPA).
                </li>
                <li>
                    Non-government institutions such as Mwambao Coastal Community Network (MCCC).
                </li>
                <li>
                    Local community.
                </li>
            </ul>
        </div>
        <div class="card-footer bg-success">
            <p class="text-center mt-2">
                <small><b>TARGETED STAKEHOLDERS</b></small>
            </p>
        </div>
    </div>
</div>