<!-- <h1>
    <b>INITIATIVES</b>
</h1>
<h2>
    <b>The use of public disseminated animation videos</b>
</h2>
This method can be used as a mode of education provision to the local community people. It involves the use of large
televisions that will be located along the beach areas. These will be showing animated videos that will be used in
imparting the knowledge to the local community people on the ecological importance of coral reefs in the marine
ecosystems, causes of coral reef destruction, effects of coral reef destruction and sustainable ways of fishing.
It sounds like a geospatial strategy. It is feasible and an easy, quick method that will help to promote awareness and
reach such valuable information to a lot of community people.
Since these televisions will be located along the shore, then this strategy is directly feasible both in Paje and
Tumbatu Island because most of the community people depend much on coastal area for their daily livelihood as they
frequently gather at these areas, also each year they conduct their traditional ceremonies for example, “Mvuya” in
Tumbatu Island where all the people gather along the shore. Thus, this method would be very feasible and will help much
in raising the awareness of the community people concerning the coral reef conservation. -->


<div class="container">
    <div class="card mt-4" style="background-color: #FFF;">
        <div class="card-header bg-success">
            <h1 class="text-center mt-2 text-uppercase"><b>INITIATIVES</b></h1>
        </div>
        <div class="card-body">
            <p class="p-body">
                <b>The use of public disseminated animation videos</b>
                <br>
                This method can be used as a mode of education provision to the local community people. It involves the
                use of large
                televisions that will be located along the beach areas. These will be showing animated videos that will
                be used in
                imparting the knowledge to the local community people on the ecological importance of coral reefs in the
                marine
                ecosystems, causes of coral reef destruction, effects of coral reef destruction and sustainable ways of
                fishing.
                It sounds like a geospatial strategy. It is feasible and an easy, quick method that will help to promote
                awareness and
                reach such valuable information to a lot of community people.
                Since these televisions will be located along the shore, then this strategy is directly feasible both in
                Paje and
                Tumbatu Island because most of the community people depend much on coastal area for their daily
                livelihood as they
                frequently gather at these areas, also each year they conduct their traditional ceremonies for example,
                “Mvuya” in
                Tumbatu Island where all the people gather along the shore. Thus, this method would be very feasible and
                will help much
                in raising the awareness of the community people concerning the coral reef conservation.
            </p>
        </div>
        <div class="card-footer bg-success">
            <p class="text-center mt-2 text-uppercase">
                <small><b>INITIATIVES</b></small>
            </p>
        </div>
    </div>
</div>