<div class="container">
    <div class="card mt-4" style="background-color: #FFF;">
        <div class="card-header bg-success">
            <h1 class="text-center mt-2 text-uppercase"><b>About-Us</b></h1>
        </div>
        <div class="card-body">
            <p>
                We are “THE SQUAD GOALS” a group of four students from the State University of Zanzibar (SUZA). We are
                from two different faculty, Geography & Environmental faculty and Information & Technology faculty
                together joined up in Multi-Competence Learning (MCL) project for the aim of raising various problems
                facing the coastal communities in Unguja especially in Paje coastal area and Tumbatu Island.
                Our major focus is on coral reef destruction finding out the local community perspective regarding the
                corals, causes, effects, and hindrances. With this information, we come up with a geospatial solution to
                solve the problem in order to enable proper monitoring and conservation of the corals.
            </p>
        </div>
        <div class="card-footer bg-success">
            <p class="text-center mt-2 text-uppercase">
                <small><b>THE SQUAD GOALS</b></small>
            </p>
        </div>
    </div>


    <div class="mt-5">
        <h2 class="text-uppercase text-center" style="font-size: 30px;">
            <b><i>Group Members</i></b>
        </h2>
        <table class="table table-bordered table-striped table-hover mt-5 mb-5" height="200">
            <thead>
                <tr class="text-center">
                    <th>NAME OF MEMBERS</th>
                    <th>RESPONSIBILITY</th>
                    <th>FACULTY</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>BADRU YAHYA RASUDI</td>
                    <td>Group leader & dissemination person</td>
                    <td>Bachelor degree in Geography and Environmental Studies (BAGES)</td>
                </tr>
                <tr>
                    <td>SABRA ALI KHERI</td>
                    <td>Stakeholder engagement</td>
                    <td>Bachelor degree in Geography and Environmental Studies (BAGES)</td>
                </tr>
                <tr>
                    <td>HASSAN SAID HAMAD</td>
                    <td>Data and technology responsible person</td>
                    <td>Bachelor of Information Technology Application & Management (BITAM)</td>
                </tr>
                <tr>
                    <td>LEWINA FULKO MLOWE</td>
                    <td>Design oriented person</td>
                    <td>Bachelor of Information Technology Application & Management (BITAM)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- images -->
    <div class="row">
        <h2 class="text-uppercase text-center mb-5" style="font-size: 30px;">
            <b><i>Group Photos</i></b>
        </h2>
        <div class="col-md-6 mb-5">
            <div class="card">
                <div class="card-header text-center p-3 bg-success">
                    <span><b><i>Badru</i></b></span>
                </div>
                <div class="card-body text-center">
                    <img src="../../../../assets/img/badru1.jpg" width="300" alt="" class="img-thumbnail">
                </div>
                <div class="card-footer bg-success">
                    <marquee>
                        <small><b>Team Leader</b></small>
                    </marquee>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card">
                <div class="card-header text-center p-3 bg-success">
                    <span><b><i>Mr_Never5</i></b></span>
                </div>
                <div class="card-body text-center">
                    <img src="../../../../assets/img/nvr0.jpg" width="300" alt="" class="img-thumbnail">
                </div>
                <div class="card-footer bg-success">
                    <marquee>
                        <small><b>Data and Technology</b></small>
                    </marquee>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card">
                <div class="card-header text-center p-3 bg-success">
                    <span><b><i>Winner</i></b></span>
                </div>
                <div class="card-body text-center">
                    <img src="../../../../assets/img/winner.jpg" width="300" alt="" class="img-thumbnail">
                </div>
                <div class="card-footer bg-success">
                    <marquee>
                        <small><b>Design oriented person</b></small>
                    </marquee>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card">
                <div class="card-header text-center p-3 bg-success">
                    <span><b><i>Sabra</i></b></span>
                </div>
                <div class="card-body text-center">
                    <img src="../../../../assets/img/sabra.jpg" width="300" alt="" class="img-thumbnail">
                </div>
                <div class="card-footer bg-success">
                    <marquee>
                        <small><b>STAKEHOLDER ENGAGEMENT
                            RESPONSIBLE PERSON</b></small>
                    </marquee>
                </div>
            </div>
        </div>
    </div>
</div>