<div class="container">
    <div class="card mt-4" style="background-color: #FFF;">
        <div class="card-header bg-success">
            <h1 class="text-center mt-2 text-uppercase"><b>Comments Us ✍️</b></h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="../../../../assets/img/comment0.png" width="350" alt="" class="img-thumbnail">
                </div>
                <div class="col-md-6">
                    <h3>Your Feedback</h3>
                    <p>
                        We welcome your feedback. Please report any errors and suggest corrections via email to
                        <b>feedback@squadgoals.org</b>

                        Ideally, please include:
                        the URL at the location where you see the issue
                        a description of the issue you see
                        screenshots from the Atlas of relevant area (annotated with details)
                        any available data or existing maps to support the proposed correction

                        Information on how we supply data to the atlas can be found on our Science and Methods page.
                    </p>
                </div>
            </div>

        </div>
        <div class="card-footer bg-success">
            <p class="text-center mt-2 text-uppercase">
                <small><b>the squad goals forever ❤️ </b></small>
            </p>
        </div>
    </div>
</div>