<!-- <h4><b>CORAL REEF DESTRUCTION</b></h4> -->
<!-- <p>It can be defined as a situation by which coral reefs are degraded due to various factors ranging from natural to
    anthropocentric (human) factors. In fact, scientists estimate that half of the world’s coral reefs have already
    disappeared thereby impacting marine ecosystems and coastal communities at large.
    In case of Zanzibar context particularly in Paje, Jambiani and Tumbatu Island as our potential areas of study,
    researches show that every year coral reefs face direct threats due to increasing competition between many various
    coastal activities and un- sustainable uses which has led into disappearing of a huge percentage of coral reefs
    especially those which are located in the shallow water where a lot of other coastal activities are conducted.
    In the previous time over 10 to 15 years back, in Paje and Tumbatu coastal areas shallow water regions used to
    consist of health coral reefs but due to different factors, coral reefs have disappeared especially in areas like
    Chakungu, Makecheni, and Mwamba wa wanawake found at Paje coastal area. Also, areas like Bwechano, Ongoni, Mayale,
    Makutani and Amiachini found at Tumbatu island are now more degraded compared to other neighboring coral containing
    areas like Surutani, Kidomo Shubari, Pengeleni, Kiomoni, Bikoni and Kifungu mchele.
</p> -->

<div class="container">
    <div class="card mt-4" style="background-color: #FFF;">
        <div class="card-header bg-success">
            <h1 class="text-center mt-2"><b>CORAL REEF DESTRUCTION</b></h1>
        </div>
        <div class="card-body">
            <p class="p-body">It can be defined as a situation by which coral reefs are degraded due to various factors ranging from
                natural to
                anthropocentric (human) factors. In fact, scientists estimate that half of the world’s coral reefs have
                already
                disappeared thereby impacting marine ecosystems and coastal communities at large.
                In case of Zanzibar context particularly in Paje, Jambiani and Tumbatu Island as our potential areas of
                study,
                researches show that every year coral reefs face direct threats due to increasing competition between
                many various
                coastal activities and un- sustainable uses which has led into disappearing of a huge percentage of
                coral reefs
                especially those which are located in the shallow water where a lot of other coastal activities are
                conducted.
                In the previous time over 10 to 15 years back, in Paje and Tumbatu coastal areas shallow water regions
                used to
                consist of health coral reefs but due to different factors, coral reefs have disappeared especially in
                areas like
                Chakungu, Makecheni, and Mwamba wa wanawake found at Paje coastal area. Also, areas like Bwechano,
                Ongoni, Mayale,
                Makutani and Amiachini found at Tumbatu island are now more degraded compared to other neighboring coral
                containing
                areas like Surutani, Kidomo Shubari, Pengeleni, Kiomoni, Bikoni and Kifungu mchele.
            </p>
        </div>
        <div class="card-footer bg-success">
            <p class="text-center mt-2">
                <small><b>CORAL REEF DESTRUCTION</b></small>
            </p>
        </div>
    </div>
</div>