<div class="container">
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card">
                <div class="card-header text-center p-3 bg-success">
                    <span><b><i>Badru</i></b></span>
                </div>
                <div class="card-body text-center">
                    <img src="../../../../assets/img/badru.jpg" width="300" alt="" class="img-thumbnail">
                </div>
                <div class="card-footer bg-success">
                    <marquee>
                        <small><b>Team Leader</b></small>
                    </marquee>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card">
                <div class="card-header text-center p-3 bg-success">
                    <span><b><i>Mr_Never5</i></b></span>
                </div>
                <div class="card-body text-center">
                    <img src="../../../../assets/img/nvr0.jpg" width="300" alt="" class="img-thumbnail">
                </div>
                <div class="card-footer bg-success">
                    <marquee>
                        <small><b>Data and Technology</b></small>
                    </marquee>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card">
                <div class="card-header text-center p-3 bg-success">
                    <span><b><i>Winner</i></b></span>
                </div>
                <div class="card-body text-center">
                    <img src="../../../../assets/img/nvr0.jpg" width="300" alt="" class="img-thumbnail">
                </div>
                <div class="card-footer bg-success">
                    <marquee>
                        <small><b>Design oriented person</b></small>
                    </marquee>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card">
                <div class="card-header text-center p-3 bg-success">
                    <span><b><i>Mr_Never5</i></b></span>
                </div>
                <div class="card-body text-center">
                    <img src="../../../../assets/img/nvr0.jpg" width="300" alt="" class="img-thumbnail">
                </div>
                <div class="card-footer bg-success">
                    <marquee>
                        <small><b>Data and Technology</b></small>
                    </marquee>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card">
                <div class="card-header text-center p-3 bg-success">
                    <span><b><i>Mr_Never5</i></b></span>
                </div>
                <div class="card-body text-center">
                    <img src="../../../../assets/img/nvr0.jpg" width="300" alt="" class="img-thumbnail">
                </div>
                <div class="card-footer bg-success">
                    <marquee>
                        <small><b>Data and Technology</b></small>
                    </marquee>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card">
                <div class="card-header text-center p-3 bg-success">
                    <span><b><i>Mr_Never5</i></b></span>
                </div>
                <div class="card-body text-center">
                    <img src="../../../../assets/img/nvr0.jpg" width="300" alt="" class="img-thumbnail">
                </div>
                <div class="card-footer bg-success">
                    <marquee>
                        <small><b>Data and Technology</b></small>
                    </marquee>
                </div>
            </div>
        </div>
    </div>
</div>