<!-- <h1>
    <b>Effects of coral reef destruction</b>
</h1>
<ol class="effect-ol">
    <li>
        <b>Decline of tourism sector: </b> in fact coastal areas play a vital role in promoting Zanzibar’s tourism
        sector which
        is
        driven by different factors including the presence of coral reefs. Coral reefs act as a tourist attraction thus,
        the
        destruction of the corals will have an effect toward the tourism sector.
    </li>
    <li>
        <b>Extinction of marine ecosystem: </b> coral reefs acts as keystone species in the marine ecosystem providing
        habitats for
        millions of aquatic species. Thus, degradation of coral reefs has resulted into loss of various many fish
        species in the
        ocean.
    </li>
    <li>
        <b>Decline of fishing sector: </b> The destruction of corals will result into degrading the habitats for the
        aquatic species
        such as fish thereby declining the fishing activities and the fishing sector in general.
    </li>
</ol>
 -->


<div class="container">
    <div class="card mt-4" style="background-color: #FFF;">
        <div class="card-header bg-success">
            <h1 class="text-center mt-2 text-uppercase"><b>Effects of coral reef destruction</b></h1>
        </div>
        <div class="card-body">
            <ol class="effect-ol">
                <li>
                    <b>Decline of tourism sector: </b> in fact coastal areas play a vital role in promoting Zanzibar’s tourism
                    sector which
                    is
                    driven by different factors including the presence of coral reefs. Coral reefs act as a tourist attraction thus,
                    the
                    destruction of the corals will have an effect toward the tourism sector.
                </li>
                <li>
                    <b>Extinction of marine ecosystem: </b> coral reefs acts as keystone species in the marine ecosystem providing
                    habitats for
                    millions of aquatic species. Thus, degradation of coral reefs has resulted into loss of various many fish
                    species in the
                    ocean.
                </li>
                <li>
                    <b>Decline of fishing sector: </b> The destruction of corals will result into degrading the habitats for the
                    aquatic species
                    such as fish thereby declining the fishing activities and the fishing sector in general.
                </li>
            </ol>
        </div>
        <div class="card-footer bg-success">
            <p class="text-center mt-2 text-uppercase">
                <small><b>Effects of coral reef destruction</b></small>
            </p>
        </div>
    </div>
</div>