<!-- <h1>
    <b>COASTAL WEB MAP</b>
</h1>
This is a map that shows the hotspot of coral reefs by depicting their location and identifying the most vulnerable
areas within the same hotspots. Also, it depicts the health condition of coral reefs by identifying their zone of
existence whereby the zone of deep sea consists of healthier corals compared to the shallow water zone which mostly
consists of un-healthier corals.
<br><br>
Also, our web map enhances efficient biophysical assessment of the marine habitats that together with the community will
aim at monitoring and protecting them through the establishment of marine protected areas. Thus, our web map depicts the
protected coral areas where restoration of corals is to be conducted. These are special areas selected for restoration
of coral reefs. They have been picked up due to their extent/degree of degradation and therefore they require special
care so as to restore them and promote their growth as well as the sustainability of other aquatic species and the
marine ecosystem in general.
<br><br>
The restoration of coral reefs will succeed by establishing the campaign which comes with the message that is carried in
a Swahili accent, “kwa pamoja tuyatunze matumbawe kwa maendeleo ya baadae” or “together let’s protect the corals for
future development” in English language. This campaign will aim at conserving the coral reefs in the protected areas the
same way as what is done in the aquaculture of octopus and other marine species. This campaign targets the most
vulnerable locations where coral reefs are mostly degraded and in those regions where corals are still in the pioneer
stage. After the coral reefs have grown up and flourished in the respective area, then fishing activities will be
allowed to continue and obviously there will be a huge availability of fish stocks thereby promoting the fishing
activity.
<br><br>
Apart from fishing activities, restoration of coral reefs will also trigger development of tourism activity; also it
will promote trading activities by allowing controlled harvesting of coral reefs in the protected areas for the
production of ornaments as well as increasing the rate of employment opportunities and promoting our national economy.
<br><br>
Also, this solution will help in solving the problem by providing the real time data that will enable the responsible
stakeholders to get the starting point towards solving this problem, also through the collected data it will help in
suggesting the relative methods to be used in mitigating the problem such as provision of education and promoting
awareness, also it will help in ensuring sustainable tourism and fishing, promoting sustainable planning, promoting the
formulation and implementation of supportive policies, also promoting integrated protection of the coastal areas and the
marine ecosystem in general including the coral reefs and the associated resources.
<br><br>
This web map will help in providing the right information and updated data that will help in planning and promoting
proper decision making. It will also assist stakeholders ranging from local community to the regional and national
governments to reach their coral reef conservation goals as they will have access to valuable information.
<br><br>

<h1>
    <b>MODE OF FUNCTIONING:</b>
</h1>
It will work with a system of underwater sensors that will help in detecting the sea level fall and rising, degree of
sea surface temperature, degree of heating per month, level of coral degradation per month. Also, it will include a
comment segment (feedback box) where different stakeholders will be capable of sending their suggestions and reporting
on different issues. Thus, it is an important tool that will help in providing the real time data as well as promoting
reasonable decision making that will be useful in monitoring the protection and conservation coral reefs.

<br><br><br> -->


<div class="container">
    <div class="card mt-4" style="background-color: #FFF;">
        <div class="card-header bg-success">
            <h1 class="text-center mt-2"><b>COASTAL WEB MAP</b></h1>
        </div>
        <div class="card-body">
            <p class="p-body">
                This is a map that shows the hotspot of coral reefs by depicting their location and identifying the most
                vulnerable areas within the same hotspots. Also, it depicts the health condition of coral reefs by
                identifying their zone of existence whereby the zone of deep sea consists of healthier corals compared
                to the shallow water zone which mostly consists of un-healthier corals.
                <br><br>
                Also, our web map enhances efficient biophysical assessment of the marine habitats that together with
                the community will aim at monitoring and protecting them through the establishment of marine protected
                areas. Thus, our web map depicts the protected coral areas where restoration of corals is to be
                conducted. These are special areas selected for restoration of coral reefs. They have been picked up due
                to their extent/degree of degradation and therefore they require special care so as to restore them and
                promote their growth as well as the sustainability of other aquatic species and the marine ecosystem in
                general.
                <br><br>
                The restoration of coral reefs will succeed by establishing the campaign which comes with the message
                that is carried in a Swahili accent, <b>“kwa pamoja tuyatunze matumbawe kwa maendeleo ya baadae” or
                    “together let’s protect the corals for future development”</b> in English language. This campaign will aim
                at conserving the coral reefs in the protected areas the same way as what is done in the aquaculture of
                octopus and other marine species. This campaign targets the most vulnerable locations where coral reefs
                are mostly degraded and in those regions where corals are still in the pioneer stage. After the coral
                reefs have grown up and flourished in the respective area, then fishing activities will be allowed to
                continue and obviously there will be a huge availability of fish stocks thereby promoting the fishing
                activity.
                <br><br>
                Apart from fishing activities, restoration of coral reefs will also trigger development of tourism
                activity; also it will promote trading activities by allowing controlled harvesting of coral reefs in
                the protected areas for the production of ornaments as well as increasing the rate of employment
                opportunities and promoting our national economy.

                <span >
                    <p class="text-center">
                        <img src="../../../../assets/img/slogan0.PNG" width="700" alt="" class="img-thumbnail">
                    </p>
                </span>
                <br><br>
                Also, this solution will help in solving the problem by providing the real time data that will enable
                the responsible stakeholders to get the starting point towards solving this problem, also through the
                collected data it will help in suggesting the relative methods to be used in mitigating the problem such
                as provision of education and promoting awareness, also it will help in ensuring sustainable tourism and
                fishing, promoting sustainable planning, promoting the formulation and implementation of supportive
                policies, also promoting integrated protection of the coastal areas and the marine ecosystem in general
                including the coral reefs and the associated resources.
                <br><br>
                This web map will help in providing the right information and updated data that will help in planning
                and promoting proper decision making. It will also assist stakeholders ranging from local community to
                the regional and national governments to reach their coral reef conservation goals as they will have
                access to valuable information.
                <br><br>
            </p>
            <h1 class="text-center">
                <b>MODE OF FUNCTIONING:</b>
            </h1>
            <p class="p-body">
                It will work with a system of underwater sensors that will help in detecting the sea level fall and
                rising, degree of
                sea surface temperature, degree of heating per month, level of coral degradation per month. Also, it
                will include a
                comment segment (feedback box) where different stakeholders will be capable of sending their suggestions
                and reporting
                on different issues. Thus, it is an important tool that will help in providing the real time data as
                well as promoting
                reasonable decision making that will be useful in monitoring the protection and conservation coral
                reefs.
            </p>

        </div>
        <div class="card-footer bg-success">
            <p class="text-center mt-2">
                <small><b>CORAL REEF DESTRUCTION</b></small>
            </p>
        </div>
    </div>
</div>