<!-- <h1>
    <b>POSITIVE IMPACTS OF THE SOLUTION</b>
</h1>
<ol style="list-style-type: circle;">
    <li>
        Protection and conservation of marine ecosystem
    </li>
    <li>
        Increase in the production and flourishing of marine species
    </li>
    <li>
        Increase of employment opportunities
    </li>
    <li>
        Growth of national income
    </li>
    <li>
        Reduction of poverty
    </li>
    <li>
        Influences trading, fishing and tourism activities
    </li>
</ol> -->


<div class="container">
    <div class="card mt-4" style="background-color: #FFF;">
        <div class="card-header bg-success">
            <h1 class="text-center mt-2"><b>POSITIVE IMPACTS OF THE SOLUTION</b></h1>
        </div>
        <div class="card-body">
            <ol style="list-style-type: circle;">
                <li>
                    Protection and conservation of marine ecosystem
                </li>
                <li>
                    Increase in the production and flourishing of marine species
                </li>
                <li>
                    Increase of employment opportunities
                </li>
                <li>
                    Growth of national income
                </li>
                <li>
                    Reduction of poverty
                </li>
                <li>
                    Influences trading, fishing and tourism activities
                </li>
            </ol>
        </div>
        <div class="card-footer bg-success">
            <p class="text-center mt-2">
                <small><b>POSITIVE IMPACTS OF THE SOLUTION</b></small>
            </p>
        </div>
    </div>
</div>