<div class="container">
    <div class="card mt-4" style="background-color: #FFF;">
        <div class="card-header bg-success">
            <h1 class="text-center mt-2 text-uppercase"><b>Contact Us 📲</b></h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="../../../../assets/img/c0.jpg" width="350" alt="" class="img-thumbnail">
                </div>
                <div class="col-md-6">
                    <p>Contact us via: </p>
                    <ul>
                        <li><b>Email:</b> thesquadgoals555@gmail.com</li>
                        <li><b>Phone No:</b> 0777914210</li>
                        <li><b>website:</b> squadgoals.com</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="card-footer bg-success">
            <p class="text-center mt-2 text-uppercase">
                <small><b>the squad goals forever ❤️ </b></small>
            </p>
        </div>
    </div>
</div>