<!-- <h1><b>Hindrances toward solving the problem </b></h1>
<div>
    This problem seem to be rising as the time goes on and prove to be hard to diminish as a result of various factors
    including the following;
    <ol>
        <li>
            <b>Poverty: </b> in fact, most of the coastal dwellers in Paje and Tumbatu Island depend on fishing activity
            for their
            living. This is due to lack of permanent alternative source of employment which forces them to over depend
            on
            fishing for food as well as for their general basic needs. Therefore, this exposes the coral reefs to be in
            danger
            as they are maximally consumed.
        </li>
        <li>
            <b>Lack of reasonable researches (mapping) and follow up: </b> a greater percentage of coral reefs in Paje
            and Tumbatu
            Island is not mapped, also there is no enough researches conducted concerning the location and condition of
            the
            coral reefs which acts as an obstacle towards monitoring of coral reefs.
        </li>
        <li>
            <b> Improper implementation of policies and laws: </b> various conservation, and protective policies and
            laws have been
            formulated but still there is no improper implementation of these policies. For example, fisheries law No.
            22 of
            2003 which handles the authority to the fisheries officers to imprison the defendant who are caught guilty,
            but in
            fact they are not caught and if caught there is no any further procedure to be taken.
        </li>
        <li>
            <b>Low awareness of the local community people on the ecological importance of coral reefs in the marine
                ecosystem: </b>
            local fishermen do understand that coral reefs are the habitat but they lack enough knowledge and
            understanding on
            the ecological knowledge concerning the role played by the coral reefs towards other marine species which
            triggers
            the destruction of coral reefs.
        </li>
    </ol>
</div> -->


<div class="container">
    <div class="card mt-4" style="background-color: #FFF;">
        <div class="card-header bg-success">
            <h1 class="text-center mt-2 text-uppercase"><b>Hindrances toward solving the problem</b></h1>
        </div>
        <div class="card-body">
            <p class="p-body">This problem seem to be rising as the time goes on and prove to be hard to diminish as a
                result of various factors
                including the following; 
            </p>
            <div>
                <ol>
                    <li>
                        <b>Poverty: </b> in fact, most of the coastal dwellers in Paje and Tumbatu Island depend on
                        fishing activity
                        for their
                        living. This is due to lack of permanent alternative source of employment which forces them to
                        over depend
                        on
                        fishing for food as well as for their general basic needs. Therefore, this exposes the coral
                        reefs to be in
                        danger
                        as they are maximally consumed.
                    </li>
                    <li>
                        <b>Lack of reasonable researches (mapping) and follow up: </b> a greater percentage of coral
                        reefs in Paje
                        and Tumbatu
                        Island is not mapped, also there is no enough researches conducted concerning the location and
                        condition of
                        the
                        coral reefs which acts as an obstacle towards monitoring of coral reefs.
                    </li>
                    <li>
                        <b> Improper implementation of policies and laws: </b> various conservation, and protective
                        policies and
                        laws have been
                        formulated but still there is no improper implementation of these policies. For example,
                        fisheries law No.
                        22 of
                        2003 which handles the authority to the fisheries officers to imprison the defendant who are
                        caught guilty,
                        but in
                        fact they are not caught and if caught there is no any further procedure to be taken.
                    </li>
                    <li>
                        <b>Low awareness of the local community people on the ecological importance of coral reefs in
                            the marine
                            ecosystem: </b>
                        local fishermen do understand that coral reefs are the habitat but they lack enough knowledge
                        and
                        understanding on
                        the ecological knowledge concerning the role played by the coral reefs towards other marine
                        species which
                        triggers
                        the destruction of coral reefs.
                    </li>
                </ol>

            </div>

        </div>
        <div class="card-footer bg-success">
            <p class="text-center mt-2 text-uppercase">
                <small><b>Hindrances toward solving the problem</b></small>
            </p>
        </div>
    </div>
</div>